/* NProgress custom styles for HallyuHub */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(90deg, #9333ea 0%, #ec4899 100%);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ec4899, 0 0 5px #ec4899;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove spinner (we disabled it via config, but just in case) */
#nprogress .spinner {
  display: none;
}

/* Fancy blur effect */
#nprogress .bar {
  box-shadow: 0 0 10px rgba(236, 72, 153, 0.7);
}
